.masthead {
	background: rgb(255, 255, 255);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	height: 88px;
}
div[role=navigation] a {
	background: rgb(236, 234, 230);
	color: rgb(115, 127, 131);
	border-radius: 6px;
	font-size: 1.1em;
	margin-left: .4em;
	padding: .4em .6em;
	text-decoration: none;
	text-transform: uppercase;

	-webkit-transition: 0.2s all linear;
	-moz-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
	transition: 0.2s all linear;
}
	div[role=navigation] a:hover {
		background: rgb(246, 153, 7);
		color: rgb(255, 255, 255);
	}

h1 {
	background: rgb(214, 214, 211);
	color: rgb(255, 255, 255);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	font-size: 1.4em;
	line-height: 1em;
	padding: 1.8em 0;
	width: 18.5em;
}

.section {
	/*min-height: 780px;*/
	/*padding-bottom: 130px;*/
	text-align: center;
}
	.section h1 {
		margin-bottom: 100px;
	}
	.section h2,
	.section p {
		margin-bottom: 80px;
	}
	p.subhead {
		margin-bottom: 25px;
	}

#intro {
	background: url('../images/bg_intro-tiled.jpg');
	padding-top: 122px;
}

#about {
	background: rgb(83, 109, 127);
}
	#about h1 {
		background: rgb(100, 136, 149);
		color: rgb(206, 227, 235);
	}
	#about figure {

	}
		#about figure img {
			display: block;
			margin: 0 auto;
		}
	#about figcaption {
		background: rgb(58, 82, 97);
		height: 66px;
		padding: 10px 18px;
		text-align: left;
		width: 100%;
	}
			#about a:hover figure {
				background:url("../images/bg_figure-tiled.png") repeat 0 0;
			}
			#about a:hover figcaption {
				background:url("../images/icon_arrow-right-orange.png") no-repeat 95% 50%;
			}
			#about span[itemprop=name],
			#about span[itemprop=jobTitle] {
				display: block;
			}

#expertise {
	background: url('../images/bg_intro-tiled.jpg');
}
	#expertise h1 {
		background: rgb(227, 234, 235);
		color: rgb(116, 118, 120);
	}

#services {
	background: rgb(146, 205, 211);
}
	#services h1 {
		background: rgb(170, 216, 221);
		color: rgb(79, 110, 127);
	}
	.accordion > h3,
	.accordion > h3.ui-state-default {
		background: rgb(136, 191, 199) url('../images/bg_tab-services.png') no-repeat;
		height: 57px;
		line-height: 57px;
		margin-bottom: 1px;
		padding-left: 78px;

	}
	.accordion > h3.expanded,
	.accordion > h3.ui-state-active {
		background: url('../images/bg_tab-expanded-services2.png');
		outline: none;
	}
	.accordion > div {
		background: rgb(83, 117, 133);
		margin-bottom: 1px;
		padding-bottom: 1em;
		padding-left: 78px;
		padding-top: 1em;
	}
	.accordion > div ul {
		float: left;
		list-style-position: outside;
		margin-right: 5%;
		width: 40%;
	}
	.accordion > div ul li {
		color: rgb(146, 205, 211);
		font-size: 1.5em;
		text-align: left;
	}
	.accordion > div ul li span {
		color: rgb(255, 255, 255);
	}
	.accordion div.map {
		padding: 0;
	}

#clients {
	background: rgb(236, 233, 229);
}
	#clients .logos .columns img {
		margin: 0 8px 22px;
	}

#publications {
	background: rgb(115, 127, 131);
}
	#publications h1 {
		background: rgb(146, 155, 158);
	}
	#publications .slideshowwrapper {
		background: rgb(146, 205, 211) url('../images/bg_publications-slides.png');
	}
	.slideshowwrapper .row {
		background: rgb(146, 205, 211);
	}
	.slideshowwrapper .slide {
		background: rgb(146, 205, 211);
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 60px;
	}

	.slide h3 {
		color: rgb(255, 255, 255);
		font-size: 2.2em;
		font-weight: normal;
	}
	.slide p {
		font-size: 1.2em;
		margin-bottom: 0;
	}
	.slide p.date {
		font-weight: 600;
	}
	.slide h4 {
		font-size: 1.6em;
		font-weight: normal;
	}

#contact {
	background: url('../images/bg_contact-tiled.png');
}
	#contact h1 {
		background: rgb(187, 224, 228);
	}
	.contact-row > div {
		padding-top: 30px;
		position: relative;
	}
	.contact-info {
		background: rgb(255, 255, 255);
		margin: 0 auto;
		height: 290px;
		padding-top: 70px;
		width: 71.4%;
	}
	#phone-fax .contact-info {
		padding-top: 140px;
	}
	#email .contact-info {
		padding-top: 150px;
	}
		#phone-fax > div {
			width: 83.333%;
		}
	#contact h3 {
		position: absolute;
		top: 0; left: 0;
		background: url('../images/bg_h3-contact.png') no-repeat top center;
		height: 78px;
		line-height: 78px;
		width: 100%;
	}
		#phone-fax h3 {
			line-height: 1.2em;
			padding-top: 26px;
		}
	.contact-info p {
		color: rgb(115, 127, 131);
		font-size: 1.7em;
		margin-bottom: 1em;
	}
	.contact-info p > span,
	.contact-info p > span[itemprop=streetAddress] > span {
		display: block;
	}
	.contact-info p > span[itemprop=streetAddress] > span {
		font-size: 48px;
		margin-bottom: 17px;
	}
	.contact-info a {
		position: relative;
		color: rgb(116, 185, 193);
		display: inline-block;
		height: 34px;
		line-height: 34px;
		padding-right: 20px;
		text-decoration: none;
	}
	span[itemprop=telephone] a,
	span[itemprop=faxNumber] a {
		color: rgb(115, 127, 131);
	}
	.contact-info a span {
		position: absolute;
		top: 0; right: 0;

		display: inline-block;
		font-size: 36px;
		line-height: 26px;
	}
	#phone-fax span.label {
		color: rgb(116, 185, 193);
	}

.footer {
	position: fixed;
	bottom: 0; left: 0;
	background: rgb(84, 112, 128);
	color: rgb(255, 255, 255);
	width: 100%;
}
	.footer .columns {
		height: 140px;
	}
	.footer .columns p {
		margin-bottom: 0;
		margin-top: 20px;
		text-align: left;
	}
	.footer #scrolltotop {
		position: fixed;
		bottom: 20px; right: 20px;
		background: url('../images/scroll-to-top.png') no-repeat top center;
		color: rgb(255, 255, 255);
		display: block;
		font-size: 1.1em;
		font-weight: bold;
		height: 90px;
		padding: 20px 26px 0;
		text-align: center;
		text-decoration: none;
		width: 82px;
	}

/* Reveal modal overlay styles */
.reveal-modal-bg {
	background-color:#273c4b;
	z-index:1000;
}
.reveal-modal {
	z-index:1001;
	background-color:#628392;
	padding:11px;
}
a.reveal {
	text-decoration:none;
}
.modalinner {
	/* background-color:#fff; */
}
.reveal-modal .close-reveal-modal {
	background-color:#263641;
	color:#91ccd2;
	overflow:hidden;
	width:40px;
	height:0;
	padding-top:40px;
	top:17px;
	right:17px;
	font-weight:normal;
	background:url("../images/sprite_modal_close.png") no-repeat 0 0;
}
	.reveal-modal .close-reveal-modal:hover {
		background-position:0 -100px;
	}
.bioheader {
	background:url("../images/bg_figure-tiled.png") repeat 0 0 #364b58;
	color:#fff;
	border-bottom:11px solid #f69907;
}
	.bioheader img {
		display:block;
	}
	.bioheader h2 {
		font-size:33px;
		position:relative;
		margin-bottom:-5px;
	}
	.bioheader .title,
	.biocontent h3 {
		color:#92cdd3;
		text-transform:uppercase;
		font-size:13px;
		letter-spacing:1px;
	}
	.bioheader .twelve {
		padding:3%;
	}
.biocontent {
	font-size:12px;
	line-height:1.66666666666667;
	background-color:#fff;
}
	.biocontent .columns {
		padding:3%;
	}
	.biocontent h3 {
		color:#77b7bd;
	}
	.biocontent p {
		margin-top:1.5em;
	}
		.biocontent p:first-child {
			margin-top:0;
		}
	.biocontent ul.affiliations {
		list-style:none;
		margin:1em 0 0;
		padding:0;
	}
	ul.affiliations li {
		margin-bottom:.3em;
	}

.biofooter {
	background-color:#628392;
	color:#fff;
	text-align:right;
	padding:18px 10px 8px;
}
	.biofooter a {
		display:inline-block;
		color:#92cdd3;
		font-family: "museo-sans-rounded", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size:25px;
		padding-right:28px;
		white-space:nowrap;
		background:url("../images/sprite_modal_next.png") no-repeat 100% 1px;
		text-decoration:none;
		line-height:1;
	}
		.biofooter a:hover {
			color:#7aa8b3;
			background-position:100% -99px;
		}

@media only screen and (max-width: 1024px) {
	.row {

	}
	.masthead,
	.footer p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.accordion > h3 {
		background: url('../images/bg_tab-expanded-services2.png') no-repeat;
	}
	#contact {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.footer {
		position: relative;
	}
	.footer p {
		width: 70%;
	}
	.footer #scrolltotop {
		position: absolute;
		right: 20px;
	}
	.bioheader h2 {
		font-size:24px;
	}
	.biofooter a {
		font-size:18px;
		padding-top:3px;
		padding-bottom:3px;
	}
}

@media only screen and (max-width: 767px) {
	.section {
		min-height: 0;
	}
	.row {
		padding-left: 20px;
		padding-right: 20px;
	}
	.masthead {
        height: auto;
    }
    #intro {
    	padding-top: 0;
    }
    #phone-fax > div {
		width: 71.4%;
	}
	.accordion > div ul {
		float: left;
		list-style-position: outside;
		margin-right: 5%;
		width: 90%;
	}
	.footer #scrolltotop {
		right: 0;
	}
}

@media only screen and (max-width: 767px) {
		#contact {
			padding-left: 0;
			padding-right: 0;
		}
	#intro {
		padding-top: 2em;
	}
		#about figure {
			margin: 0 auto;
			max-width: 450px; /*
			min-height: 0;
			padding-bottom: 0;*/
		}
}

@media only screen and (max-width: 480px) {
	.accordion > div ul {
		float: none;
	}
}

@media only screen and (min-width: 769px) {
	#about div.eighteen div.row {
		background: url('../images/bg_figure-tiled.png');
	}
}

@media only screen and (min-width: 1024px) {
	.masthead {
		position: fixed;
		width: 100%;
		z-index: 9;
	}
}