@media only screen and (max-width: 1024px) {
    .footer {
        position: relative;
    }
    .scrolldown {
        display:none;
    }
    .row {

    }
    .masthead,
    .footer p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section {
        padding-bottom: 6em;
    }
    #expertise {
        padding-bottom:1px;
    }
    .accordion > h3 {
        background: url('../images/bg_modal-head.gif') repeat;
        height:auto;
        line-height:1.2;
        padding-top:1.2em;
        padding-bottom:1em;
    }
    .accordion > h3,
    .accordion > div {
        padding-left:2em;
        padding-right:2em;
    }
    #contact {
        padding-bottom: 0;
    }
    .footer {
        position: relative;
        bottom: auto; left: auto;
    }
    .footer .scrolltotop {
        position:absolute;
    }
    #services .tabs h3 {
        font-size: 1.5em;
        overflow: hidden;
    }
    .contact-row {
        margin-bottom:3em;
    }
}

@media only screen and (max-width: 979px) {
    .spacer {
        display:none;
    }
}

@media only screen and (max-width: 964px) {
    .slideshowwrapper .slides > img {
        min-height:390px;
    }
    #trialslideshow .slides > img {
        min-height:560px;
    }
    /*.slidemeta {
        padding-top:2%;
        padding-bottom:0;
    }
    .slideactions {
        padding-top:2%;
    }*/
    
}

@media only screen and (max-width: 926px) {
    .slideshowwrapper .slides > img {
        min-height:470px;
    }
    #trialslideshow .slides > img {
        min-height:560px;
    }
}

@media only screen and (max-width:850px) {
    .masthead {
        height: auto;
    }
    .row .logo {
        float:none;
        padding-bottom: 25px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        width:auto !important;
    }
    .row .nav:last-child {
        float:none;
        width:auto;
    }
    .nav {
        padding: 0 10px;
        text-align: center;
    }
    .nav select,
    .nav button {
        display:inline-block;
        vertical-align:middle;
        font-size:16px;
    }
    .nav div[role=navigation] {
        display:block;
        position: static;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .nav div[role=navigation] a {
        float: none;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .footer p {
        width: 70%;
    }
    .footer .scrolltotop {
        position: absolute;
        right: 20px;
    }
    .bioheader h2 {
        font-size:24px;
    }
    .biofooter a {
        font-size:18px;
        padding-top:3px;
        padding-bottom:3px;
    }
    #location {
        margin-left:0;
    }
    #email {
        margin-right:0;
        float:left;
    }
    .contact-row .six {
        width:33%;
    }
    .infographic {
        background:none;
    }
    .infographic .circle {
        width:33%;
        padding-left:5%;
        padding-right:5%;
        background-position:50% 0;
        background-repeat:no-repeat;
        padding-top:25px;
    }
        .infographic .circle.challenge {
            background-image:url("../images/bg_circle_challenge_sm.png");
        }
        .infographic .circle.solution {
            background-image:url("../images/bg_circle_solution_sm.png");
        }
        .infographic .circle.result {
            background-image:url("../images/bg_circle_result_sm.png");
        }
    .circlecontent h5 {
        margin-bottom:.5em;
    }
    .infographic .circle.result,
    .infographic .circle.challenge {
        margin:0;
    }
    .infographic .circle {
        color:#737F83;
    }
    .infographic .circle p {
        color:#5b6668;
    }
    .infographic img {
        display:none;
    }
    .infographic .circle .circlecontent {
        position:static;
        width:100%;
    }
    .infographic .circle h4 {
        font-size:1.9em;
    }
    .result .circlecontent h4 {
        margin-bottom:2em;
    }
    .infographic .circle p {
        font-size:1.5em;
        margin-bottom:1.5em;
    }
    .resultbig .circlecontent p {
        margin-top:0;
    }
    #trialslideshow {
        margin-bottom:1em;
    }
    .result .circlecontent p {
        font-weight:normal;
        line-height:1.41176470588235;
    }
    .infographic .circle.challenge:after,
    .infographic .circle.result:before {
        font-size:24px;
        width:1em;
        top:-.1em;
        margin-top:0;
    }
    .infographic .circle.challenge:after {
        right:-.5em;
        margin-top:0;
    }
}

@media only screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        min-width: 0;
        width: 100%;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
        min-width: 0;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .column, .columns { float: none; width: auto !important; }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
    .column:after, .columns:after { clear: both; }
    .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
    .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
    .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
    .section {
        padding-top:0;
        padding-bottom: 1em;
        min-height: 0;
    }
    .section p {
        margin-bottom:2em;
        line-height:1.5;
    }
    .section h1 {
        margin-bottom:3em;
    }
    .section h2 {
        margin-bottom:1em;
    }
    .bubble {
        margin-bottom:1em;
    }
    #intro {
        padding-top: 3em;
    }
    h2,
    #intro h2 {
        font-size: 4em;
        margin-bottom: .7em;
    }
    /* #intro {
        padding-top: 0;
    } */
    #about {
        padding-bottom:3em;
    }
    #about figure {
        margin: 0 auto;
        max-width: 450px; /*
        min-height: 0;
        padding-bottom: 0;*/
    }
    .accordion {
        margin-bottom:2em !important;
    }
    .accordion > div ul {
        float: left;
        list-style-position: outside;
        margin-right: 5%;
        width: 90%;
    }
        .accordion > div ul + ul {
            position:relative;
            padding-top:0;
            margin-top:-1em;
            padding-bottom:1em;
        }
    .footer .scrolltotop {
        right: 0;
    }
    #publications {
        padding-bottom:3em;
    }
    #contact {
        padding-left: 0;
        padding-right: 0;
    }
    #email {
        float:none;
    }
    .reveal-modal.xlarge {
        width:100%;
        margin-left:-50%;
    }
    .contact-info {
        height:auto;
        padding-top:60px !important;
        padding-bottom:15px !important;
    }
}



@media only screen and (max-width: 620px) {
    .slide {
        font-size:.8em;
    }
    .slidecount {
        font-size:28px;
    }
    div.orbit-wrapper div.slider-nav {
        bottom:42px;
    }
    .slideshowwrapper .slides > img {
        min-height:390px;
    }
    #trialslideshow .slides > img {
        min-height:430px;
    }
    .csfooter div.slider-nav a.right {
        right: 10px;
    }
    .csfooter div.slider-nav a.left {
        left: 10px;
    }
}

@media only screen and (max-width: 533px) {
    .slideshowwrapper .slides > img {
        min-height:420px;
    }
    #trialslideshow .slides > img {
        min-height:530px;
    }
}

@media only screen and (max-width: 480px) {
    .row .logo {
        padding-top: 15px;
        padding-bottom:15px;
        /* width:183px !important; */
    }
    .accordion > div ul {
        float: none;
    }
    .slidecount.four {
        width:80%;
        margin-left:-40%;
    }
    .slideshowwrapper .slides > img {
        min-height:360px;
    }
    #trialslideshow .slides > img {
        min-height:580px;
    }
    div.orbit-wrapper div.slider-nav {
        width:100%; margin-left:-50%;
    }
    div.orbit-wrapper div.slider-nav span.right {
        right: 0;
    }
    div.orbit-wrapper div.slider-nav span.left {
        left: 0;
    }
    .infographic .circle {
        float:none;
        width:100% !important;
        background-position:50% 0;
        background-repeat:no-repeat;
        padding-top:25px;
    }
        .infographic .circle.challenge {
            background-image:url("../images/bg_circle_challenge_sm.png");
        }
        .infographic .circle.solution {
            background-image:url("../images/bg_circle_solution_sm.png");
        }
        .infographic .circle.result {
            background-image:url("../images/bg_circle_result_sm.png");
        }
    .infographic .circle h4 {
        margin-bottom:.5em !important;
    }
    .infographic .circle.challenge:after,
    .infographic .circle.result:before {
        display:none;
    }
    .mobilehide {
        display:none;
    }
    #publications .slideshowwrapper .slide {
        padding-left:0;
        padding-right:0;
    }
    .contact-info {
        width:90%;
    }
}

@media only screen and (max-width: 439px) {
    .slideshowwrapper .slides > img {
        min-height:460px;
    }
    #trialslideshow .slides > img {
        min-height:560px;
    }
}

@media only screen and (max-width: 410px) {
    #clients .logos .columns img {
        width:128px;
        margin:0 5px 11px;
    }
}

@media only screen and (max-width: 340px) {
    .slideshowwrapper .slides > img {
        min-height:500px;
    }
    #trialslideshow .slides > img {
        min-height:600px;
    }
}

@media only screen and (min-width: 768px) {
    .modalheader .twelve.columns {
        position:absolute;
        bottom:0;
        left:40%;
    }
    .row .logo {
        padding-top:25px;
    }
}
@media only screen and (min-width: 769px) {
    #about div.eighteen div.row {
        background: url('../images/bg_figure-tiled.png');
    }

}
@media only screen and (min-width: 888px) {
    .row .logo {
        padding-top:27px;
    }
}

@media only screen and (min-width: 991px) {
    #trialslideshow .slidecount {
        bottom:110px;
    }
}

/* Scrolling */
@media only screen and (min-width: 1025px) {
    .masthead {
        position: fixed;
        width: 100%;
        z-index: 9;
    }
    .wrapper {
        position: fixed;
        /* height: 1000px; */
        height:1075px;
        overflow: hidden;
        top: 88px;
        width: 100%;
    }
        .no-js .wrapper {
            position:relative;
            height:auto;
        }
    .section {
        position: absolute;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        /* height:1280px !important; */
        height: 1075px !important;
        overflow: hidden;
        top: 0;
        width: 100%;
    }
        .no-js .section {
            position:static;
            height:auto !important;
        }

    .masthead {
        z-index: 999;
    }
    #intro {
        z-index: 900;
    }
    #about {
        z-index: 800;
        /* height : 3000px !important; */
        height : 2800px !important;
    }
    #expertise {
        z-index: 700;
        height: 1416px !important;
    }
    #services {
        z-index: 600;
        /* height: 1680px !important; */
        height:1425px !important;
    }
    #clients {
        z-index: 500;
        height: 1680px !important;
    }
    #publications {
        z-index: 400;
    }
    #contact {
        z-index: 300;
    }
    .scrolltotop {
        display:block;
    }
    .no-js #about,
    .no-js #expertise,
    .no-js #services,
    .no-js #clients {
        height: auto !important;
    }
    .no-js .footer {
        position:relative;
    }
    .no-js .footer .scrolltotop {
        position:absolute;
    }
}

/* @2x images for 768 only */
@media
    (min--moz-device-pixel-ratio: 1.3) and (max-width: 768px),
    (-o-min-device-pixel-ratio: 13/10) and (max-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 768px),
    (min-device-pixel-ratio: 1.3) and (max-width: 768px),
    (min-resolution: 124.8dpi) and (max-width: 768px),
    (min-resolution: 1.3dppx) and (max-width: 768px) {

    .infographic .circle.challenge,
    .infographic .circle.solution,
    .infographic .circle.result {
        -moz-background-size:16px 16px;
        -ie-background-size:16px 16px;
        -o-background-size:16px 16px;
        -webkit-background-size:16px 16px;
        background-size:16px 16px;
    }
    .infographic .circle.challenge {
        background-image:url("../images/bg_circle_challenge_sm@2x.png");
    }
    .infographic .circle.solution {
        background-image:url("../images/bg_circle_solution_sm@2x.png");
    }
    .infographic .circle.result {
        background-image:url("../images/bg_circle_result_sm@2x.png");
    }
}