RewriteEngine on

RewriteRule ^/?bio_anna-jones.html$ / [R,L]
RewriteRule ^/?bio_brian-chung.html$ / [R,L]
RewriteRule ^/?bio_debra-jaff.html$ / [R,L]
RewriteRule ^/?bio_erin-lacey.html$ / [R,L]
RewriteRule ^/?bio_gail-hadley.html$ / [R,L]
RewriteRule ^/?bio_ido-weinberg.html$ / [R,L]
RewriteRule ^/?bio_justin-mcneil.html$ / [R,L]
RewriteRule ^/?bio_justin-thompson.html$ / [R,L]
RewriteRule ^/?bio_kathryn-lane.html$ / [R,L]
RewriteRule ^/?bio_lindsey-st-louis.html$ / [R,L]
RewriteRule ^/?bio_luis-cintron.html$ / [R,L]
RewriteRule ^/?bio_meghna-lahiry.html$ / [R,L]
RewriteRule ^/?bio_michael-jaff.html$ / [R,L]
RewriteRule ^/?bio_noelle-saulnier.html$ / [R,L]
RewriteRule ^/?bio_ritu-shrestha.html$ / [R,L]
RewriteRule ^/?bio_sabina-dhami.html$ / [R,L]
RewriteRule ^/?bio_sandra-croteau.html$ / [R,L]
RewriteRule ^/?bio_victoria-sova.html$ / [R,L]

RewriteRule ^/?casestudy1_image1.html$ / [R,L]
RewriteRule ^/?casestudy1_image2.html$ / [R,L]
RewriteRule ^/?casestudy2_image1.html$ / [R,L]
RewriteRule ^/?casestudy3_image1.html$ / [R,L]
RewriteRule ^/?casestudy3_image2.html$ / [R,L]
RewriteRule ^/?casestudy4_image1.html$ / [R,L]
RewriteRule ^/?casestudy4_image1.html$ / [R,L]
RewriteRule ^/?casestudy5_image1.html$ / [R,L]