<!doctype html>
<!--[if IEMobile 7]><html class="no-js iem7" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)|(gt IE 9)]><!--> <html class="no-js modern" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="Mark J. Reeves / Clearbold, LLC" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VasCore - The Vascular Ultrasound Core Laboratory - A division the MGPO - Massachusetts General Hospital - Boston, MA</title>

    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 8]><!-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css" />
    <style type="text/css">
        .modalcontent a {
            color: rgb(116, 185, 193);
            text-decoration: none;
        }
            .modalcontent a:hover {
                color: rgb(246, 153, 7);
            }
    </style>
    <!-- <![endif]-->

    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="//use.typekit.net/ncj1rzb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="js/modernizr-2.6.2-min.js"></script>

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <meta http-equiv="cleartype" content="on" />

</head>
<body>
    <div class="masthead">
        <div class="row" role="banner">
            <div class="eight columns logo">
                <a href="#intro">
                    <img src="/images/vascore-logo@2x.png" alt="Vascore" />
                </a>
            </div>
            <div class="twelve columns nav">
                <div role="navigation">
                    <a href="#about">About</a>
                    <a href="#expertise">Expertise</a>
                    <a href="#services">Services</a>
                    <a href="#clients">Clients</a>
                    <a href="#publications">Publications</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="section" id="intro">
            <div class="row">
                <div class="sixteen columns centered">
                    <h2>We help you so you can help others.</h2>
                </div>
            </div>
            <div class="row">
                <div class="fifteen columns centered">
                    <p class="subhead">It can be a long road from the invention of a vascular device to regulatory approval.</p>
                    <p>Whether it&rsquo;s determining the type of trials needed to evaluate your product, to accurately analyzing its efficacy, to knowing the best way to present it to regulatory agencies, the process can be overwhelming. That&rsquo;s why VasCore is committed to helping clients worldwide navigate the process, every step of the way. For more than a decade, VasCore has been considered the leader in the strategic development of imaging protocols and the interpretation of ultrasound and radiographic images as part of novel vascular device trials. Every day, we help turn the challenges of approval into successes for effective vascular products.</p>
                </div>
            </div>
            <a href="#about" id="scrollformore" class="scrolldown">SCROLL <em>to</em> LEARN MORE</a>
        </div>
        <div class="section" id="about">
            <div class="row">
                <div class="eleven columns centered">
                    <h1>About</h1>
                    <h2>Meet our dedicated team of experts.</h2>
                </div>
            </div>
            <div class="row">
                <div class="fifteen columns centered">
                    <p class="intro">Having a full-time, highly-experienced and consistent staff who aren&rsquo;t constantly shifting roles allows us to ensure smooth, efficient and accurate evaluations. Our team consists of fully-certified physicians, technologists and nurses, along with quality officers with a vast knowledge of regulatory guidelines &mdash; all committed to navigating you to a successful approval.</p>

                    <p class="intro">
                        <b>Quality/Consistency/Reliability</b><br />
                        We have the highest commitment to quality performance and improvement.  We work closely with external quality assurance experts from Boston Biomedical Associates, renowned leaders in quality oversight and assurance. BBA conducts routine internal audits of our quality systems and standard operating procedures. We actively monitor our performance and make regular improvements to ensure that we continue to practice using industry leading quality processes.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="eighteen columns centered">
                    <div class="row">
                        <div class="ten columns">
                            <a href="bio_ido-weinberg.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_ido-weinberg-2.jpg"></div>
                                        <div data-src="/images/photo_ido-weinberg@2x-2.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_ido-weinberg-2.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_ido-weinberg-2.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Ido Weinberg, <span itemprop="honorificSuffix">MD</span>, <span itemprop="honorificSuffix">MSc</span>, <span itemprop="honorificSuffix">MHA</span>, <span itemprop="honorificSuffix">FSVM</span>, <span itemprop="honorificSuffix">RPVI</span></span><span itemprop="jobTitle">Medical Director</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_michael-jaff.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_michael-jaff.jpg"></div>
                                        <div data-src="/images/photo_michael-jaff@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_michael-jaff.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_michael-jaff.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Michael R. Jaff, <span itemprop="honorificSuffix">D.O.</span></span><span itemprop="jobTitle">Founder</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="ten columns">
                            <a href="bio_gail-hadley.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_gail-hadley.jpg"></div>
                                        <div data-src="/images/photo_gail-hadley@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_gail-hadley.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_gail-hadley.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Gail L. Hadley, <span itemprop="honorificSuffix">RN</span>, <span itemprop="honorificSuffix">RVT</span>, <span itemprop="honorificSuffix">FSVU</span></span> <span itemprop="jobTitle">Technical Director</span></p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_erin-lacey.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_erin-lacey.jpg"></div>
                                        <div data-src="/images/photo_erin-lacey@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_erin-lacey.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_erin-lacey.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Erin Lacey, <span itemprop="honorificSuffix">MS</span></span><span itemprop="jobTitle">Administrative Manager</span></p></figcaption>
                                </figure>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="ten columns">
                            <a href="bio_sandra-croteau.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_sandra-croteau.jpg"></div>
                                        <div data-src="/images/photo_sandra-croteau@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_sandra-croteau.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_sandra-croteau.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Sandra M. Croteau, <span itemprop="honorificSuffix">RN</span>, <span itemprop="honorificSuffix">RVT</span></span><span itemprop="jobTitle">Technical Staff Interpreter</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_victoria-sova.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_victoria-sova.jpg"></div>
                                        <div data-src="/images/photo_victoria-sova@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_victoria-sova.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_victoria-sova.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Victoria B. Sova, <span itemprop="honorificSuffix">RN</span>, <span itemprop="honorificSuffix">RVT</span></span><span itemprop="jobTitle">Technical Staff Interpreter</span></p></figcaption>
                                </figure>
                            </a>
                        </div>


                    </div>
                    <div class="row">

                        <div class="ten columns">
                            <a href="bio_kathryn-lane.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_kathryn-lane.jpg"></div>
                                        <div data-src="/images/photo_kathryn-lane@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_kathryn-lane.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_kathryn-lane.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Kathryn Lane, <span itemprop="honorificSuffix">LPN</span>, <span itemprop="honorificSuffix">RVT</span></span><span itemprop="jobTitle">Technical Staff Interpreter</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_justin-mcneil.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_justin-mcneil.jpg"></div>
                                        <div data-src="/images/photo_justin-mcneil@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_justin-mcneil.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_justin-mcneil.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Justin McNeil</span><span itemprop="jobTitle">Project Team Lead</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <div class="row">

                        <div class="ten columns">
                            <a href="bio_ritu-shrestha.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_ritu-shrestha.jpg"></div>
                                        <div data-src="/images/photo_ritu-shrestha@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_ritu-shrestha.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_ritu-shrestha.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Ritu Shrestha</span><span itemprop="jobTitle">Staff Assistant</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_justin-thompson.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_justin-thompson.jpg"></div>
                                        <div data-src="/images/photo_justin-thompson@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_justin-thompson.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_justin-thompson.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Justin Thompson</span><span itemprop="jobTitle">Staff Assistant</span></p></figcaption>
                                </figure>
                            </a>
                        </div>

                    </div>

                    <div class="row">

                        
                        <div class="ten columns">
                            <a href="bio_luis-cintron.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_luis-cintron.jpg"></div>
                                        <div data-src="/images/photo_luis-cintron@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_luis-cintron.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_luis-cintron.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Luis Cintron</span><span itemprop="jobTitle">Staff Assistant</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="ten columns">
                            <a href="bio_brian-chung.html" class="reveal">
                                <figure>
                                    <div data-picture data-alt="" class="">
                                        <div data-src="/images/photo_brian-chung.jpg"></div>
                                        <div data-src="/images/photo_brian-chung@2x.jpg" data-media="(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)"></div>

                                        <!--[if (lt IE 10) & (!IEMobile)]>
                                        <div data-src="/images/photo_brian-chung.jpg"></div>
                                        <![endif]-->

                                        <!-- Fallback content for non-JS browsers. -->
                                        <noscript>
                                            <img src="/images/photo_brian-chung.jpg" alt="" />
                                        </noscript>
                                    </div>
                                    <figcaption><p><span itemprop="name">Brian Chung</span><span itemprop="jobTitle">Staff Assistant</span></p></figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
        </div>
        <div class="section" id="expertise">
            <div class="row">
                <div class="twenty columns">
                    <h1>Expertise</h1>
                </div>
            </div>
            <div class="row">
                <div class="thirteen columns centered">
                    <h2><span>An industry leader.</span> And your leader through the approval process. </h2>
                </div>
            </div>
            <div class="row">
                <div class="thirteen columns centered">
                    <p class="intro">Few core labs offer the high level of expertise and thorough, friendly customer service as does VasCore. Maybe that&rsquo;s why we&rsquo;re considered the leader in everything from the development of multicenter vascular device imaging protocols, to the analysis of ultrasound and radiographic images, to the reporting of data to sponsors and regulatory groups across the globe.</p>
                </div>
            </div>
            <div class="row">
                <div class="eighteen columns centered">
                    <h3 class="bubble">The VasCore Innovation Strategies</h3>
                </div>
            </div>

            <div id="trialslideshow" class="slideshowwrapper">
                <div class="row">
                    <div class="slides twenty columns centered">

                        <div class="slide">
                            <h4 class="slidetitle">First Iliac Artery Stent Approved in the U.S.</h4>
                            <div class="infographic">
                                <img src="images/bg_infographic_circles.png" alt="" />
                                <div class="circle challenge">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Challenge</h5>
                                        <p>A sponsor wants to design a clinical trial to result in approval of their iliac artery stent by the US Food and Drug Administration.</p>
                                    </div>
                                </div>
                                <div class="circle solution">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Solution</h5>
                                        <p>We designed the duplex ultrasound imaging protocol and trained the sites in the performance of this imaging protocol.</p>
                                    </div>
                                </div>
                                <div class="circle result resultbig">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Result</h5>
                                        <p>First Iliac Artery Stent Approved in the U.S.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slideactions">
                                <a href="casestudy1_image1.html" class="btn reveal">View Trial Images</a>
                            </div>
                        </div>

                        <div class="slide">
                            <h4 class="slidetitle">First Major Publication of Carotid Stent vs. Carotid Endarterectomy</h4>
                            <div class="infographic">
                                <img src="images/bg_infographic_circles.png" alt="" />
                                <div class="circle challenge">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Challenge</h5>
                                        <p>Carotid artery stenting comes on to the US scene, with the first multicenter high risk carotid stent protocol.</p>
                                    </div>
                                </div>
                                <div class="circle solution">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Solution</h5>
                                        <p>We develop a common duplex ultrasound protocol for this trial.</p>
                                    </div>
                                </div>
                                <div class="circle result">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Result</h5>
                                        <p>First Major Publication of Carotid Stent vs Carotid Endarterectomy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slideactions">
                                <a href="casestudy2_image1.html" class="btn reveal">View Trial Images</a>
                            </div>
                        </div>

                        <div class="slide">
                            <h4 class="slidetitle">Approval of Renal Artery Stent Based on Duplex Ultrasonography</h4>
                            <div class="infographic">
                                <img src="images/bg_infographic_circles.png" alt="" />
                                <div class="circle challenge">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Challenge</h5>
                                        <p>Renal artery duplex ultrasonography, one of the most challenging clinical examinations, is an ideal surveillance study for stents in clinical trials.</p>
                                    </div>
                                </div>
                                <div class="circle solution">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Solution</h5>
                                        <p>We run such a trial where duplex ultrasonography is the primary endpoint modality.</p>
                                    </div>
                                </div>
                                <div class="circle result">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Result</h5>
                                        <p>Approval of Renal Artery Stent Based on Duplex Ultrasonography</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slideactions">
                                <a href="casestudy3_image1.html" class="btn reveal">View Trial Images</a>
                            </div>
                        </div>

                        <div class="slide">
                            <h4 class="slidetitle">The Accepted Definition of Stent Fracture Types</h4>
                            <div class="infographic">
                                <img src="images/bg_infographic_circles.png" alt="" />
                                <div class="circle challenge">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Challenge</h5>
                                        <p>Fractures of stents has become a significant concern for manufacturers, physicians, and regulatory groups.</p>
                                    </div>
                                </div>
                                <div class="circle solution">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Solution</h5>
                                        <p>We helped develop the appropriate methods to study and report stent fractures.</p>
                                    </div>
                                </div>
                                <div class="circle result">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Result</h5>
                                        <p>The accepted definition of stent fracture types established</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slideactions">
                                <a href="casestudy4_image1.html" class="btn reveal">View Trial Images</a>
                            </div>
                        </div>

                        <div class="slide">
                            <h4 class="slidetitle">The First Positive Study of Drug Eluting Stents in the Superficial Femoral Arteries</h4>
                            <div class="infographic">
                                <img src="images/bg_infographic_circles.png" alt="" />
                                <div class="circle challenge">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Challenge</h5>
                                        <p>Drug eluting stents hold great potential for treatment of peripheral artery disease.</p>
                                    </div>
                                </div>
                                <div class="circle solution">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Solution</h5>
                                        <p>We developed and validated the process of ultrasound surveillance of endovascular stents in the superficial femoral artery.</p>
                                    </div>
                                </div>
                                <div class="circle result">
                                    <img src="images/circle_placeholder.gif" alt="" />
                                    <div class="circlecontent">
                                        <h5>Result</h5>
                                        <p>The First Positive Study of Drug Eluting Stents in the Superficial Femoral Arteries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slideactions">
                                <a href="casestudy5_image1.html" class="btn reveal">View Trial Images</a>
                            </div>
                        </div>

                    </div>

                    <div class="slidecount four">
                        <span id="trial-currentslide">1</span> of <span  id="trial-totalslides"></span>
                    </div>
                </div>
            </div>
            <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
        </div>
        <div class="section" id="services">
            <div class="row">
                <div class="twenty columns">
                    <h1>Services</h1>
                </div>
            </div>
            <div class="row">
                <div class="eighteen columns centered">
                    <h2>We offer a wide range of services, for a smooth road to approval.</h2>
                </div>
            </div>
            <div class="row">
                <div class="sixteen columns centered">
                    <p>For more than 15 years VasCore has been helping clients successfully navigate the evaluation process for novel vascular devices. From specifying what kind of trial is necessary in order to analyze a product, to examining its effectiveness, to presenting results to regulatory agencies in the U.S. and internationally, VasCore knows how to guide you through every step of the process.</p>
                </div>
            </div>
            <div class="row">
                <div class="sixteen columns centered tabs accordion">
                    <h3>Core Lab Services</h3>
                    <div class="clearfix"><ul class="single">
                        <li><span>Ultrasound</span></li>
                        <li><span>Wound <a href="/wound" style="color: white; font-style: italic;">Read More</a></span></li>
                        <li><span>X-ray</span></li>
                    </ul></div>
                    <h3>Devices we&rsquo;ve evaluated:</h3>
                    <div class="clearfix"><ul>
                        <li><span>Percutaneous transluminal angioplasty balloon catheters</span></li>
                        <li><span>Drug-coated balloon catheters</span></li>
                        <li><span>Bare metal stents</span></li>
                        <li><span>Drug-eluting stents</span></li>
                        <li><span>Fabric-coated stents</span></li>
                        <li><span>Dialysis Access Grafts/Fistulae</span></li>
                    </ul><ul>
                        <li><span>Bioresorbable stents</span></li>
                        <li><span>Atherectomy devices</span></li>
                        <li><span>Thrombectomy devices</span></li>
                        <li><span>Percutaneous venous valves</span></li>
                        <li><span>Endoluminal aortic stent-grafts</span></li>
                        <li><span>Endovascular brachytherapy catheters</span></li>
                    </ul></div>
                    <h3>VasCore Trial Types:</h3>
                    <div class="clearfix"><ul class="single">
                        <li><span>First in human trials</span></li>
                        <li><span>Single center observational studies</span></li>
                        <li><span>Multi-center prospective registries</span></li>
                        <li><span>Multi-center prospective randomized trials</span></li>
                        <li><span>Post-approval studies</span></li>
                    </ul></div>
                    <h3>Pharmaceutical studies in which we&rsquo;ve participated:</h3>
                    <div class="clearfix"><ul class="single">
                        <li><span>Med Therapies for PAD</span></li>
                        <li><span>Brachial artery reactivity</span></li>
                        <li><span>Novel methods of drug delivery</span></li>
                        <li><span>Carotid intima-media thickness</span></li>
                    </ul></div>
                    <h3>Vascular Beds in which we&rsquo;ve been involved:</h3>
                    <div class="clearfix"><ul>
                        <li><span>Carotid Artery</span></li>
                        <li><span>Aorta</span></li>
                        <li><span>Renal Artery</span></li>
                        <li><span>Iliac Artery</span></li>
                        <li><span>Superficial Femoral Artery</span></li>
                        <li><span>Popliteal Artery</span></li>
                    </ul><ul>
                        <li><span>Infrapopliteal Arteries</span></li>
                        <li><span>Superficial and deep venous systems</span></li>
                    </ul></div>
                    <h3>VasCore Collaborations:</h3>
                    <div class="clearfix"><ul class="single">
                        <li><span>Commercial medical technology companies</span></li>
                        <li><span>Researchers and physicians from around the world</span></li>
                        <li><span>National institutes of health</span></li>
                    </ul></div>
                    <h3>Countries where we work:</h3>
                    <div class="clearfix map"><img src="images/2018services-map.png" alt="" /></div>
                </div>
            </div>
            <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
        </div>
        <div class="section" id="clients">
            <div class="row">
                <div class="twenty columns">
                    <h1>Clients</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen columns centered">
                    <h2>Guidance from start to finish for clients from New England to New Zealand.</h2>
                </div>
            </div>
            <div class="row logos">
                <div class="eighteen columns centered">
                    <img src="images/logo_480-biomedical.png" alt="480 Biomedical" />
                    <img src="images/logo_abbott.png" alt="Abbot: A Promise for Life" />
                    <img src="images/logo_bard.png" alt="BARD" />
                    <img src="images/logo_biotronik.png" alt="Biotronik" />
                    <img src="images/logo_boston-scientific.png" alt="Boston Scientific" />
                    <img src="images/logo_cardiosonic.png" alt="Cardiosonic" />
                    <img src="images/logo_csi.png" alt="CSI" />
                    <img src="images/logo_cardiva.png" alt="Cardiva Medical, Inc" />
                    <img src="images/logo_cook-medical.png" alt="Cook Medical" />
                    <img src="images/logo_cordis.png" alt="Cordis: a Johnson + Johnson company" />
                    <img src="images/logo_covidien.png" alt="Covidien" />
                    <img src="images/logo_cvingenuity.png" alt="CVIngenuity" />
                    <img src="images/logo_flexible-stenting-solutions.png" alt="Flexible Stenting Solutions" />
                    <img src="images/logo_getinge-group.png" alt="Getinge Group" />
                    <img src="images/logo_idev.png" alt="IDEV" />
                    <img src="images/logo_intact-vascular.png" alt="Intact Vascular" />
                    <img src="images/logo_medrad.png" alt="Medrad" />
                    <img src="images/logo_medtronic.png" alt="Medtronic" />
                    <img src="images/logo_otsuka.png" alt="Otsuka" />
                    <img src="images/logo_pervasis.png" alt="Pervasis" />
                    <img src="images/logo_proteon.png" alt="Proteon" />
                    <img src="images/logo_silkroad.png" alt="Silkroad Medical" />
                    <img src="images/logo_spectranetics.png" alt="Spectranetics" />
                    <img src="images/logo_terumo.png" alt="Terumo" />
                    <img src="images/logo_theravasc.png" alt="Theravasc" />
                    <img src="images/logo_vessix-vascular.png" alt="Vessix Vascular" />
                </div>
            </div>
            <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
        </div>
        <div class="section" id="publications">
            <div class="row">
                <div class="twenty columns">
                    <h1>Publications</h1>
                    <h2>Read about our work.</h2>
                </div>
            </div>
            <div id="publicationslideshow" class="slideshowwrapper">
                <div class="row">
                    <div class="slides twenty columns centered">
{% for post in site.categories.publications %}
                        <div class="slide pub">
                            <h3><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h3>
                            <p class="date">{{ post.pubdate }}</p>
                            <h4>{{ post.source }}</h4>
                            <p>{{ post.byline }}</p>
                        </div>
{% endfor %}

                    </div>
                    <div class="slidecount four">
                        <span id="publication-currentslide">1</span> of <span  id="publication-totalslides"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slideactions slideactionspubs">
                    <a href="/publications" class="btn">View All Publications</a>
                </div>
                <style type="text/css">
                    .slideactionspubs {
                        padding-top: 50px;
                        position: static;
                    }
                </style>
            </div>
            <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
        </div>
        <div class="section" id="contact">
            <div class="row">
                <div class="twenty columns">
                    <h1>Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns centered">
                    <h2>Turn the challenges of approval into successes.</h2>
                </div>
            </div>
            <div class="row contact-row" itemscope itemtype="http://schema.org/Organization">
                <div class="six columns" id="location">
                	<h3>Location</h3>
                    <div class="contact-info">
                    	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    		<span itemprop="streetAddress"><span>One</span> Bowdoin Square<br />10<sup>th</sup> Floor</span>
                    		<span class="city-state"><span itemprop="addressLocality">Boston</span>, <span itemprop="addressRegion">MA</span></span>
                    		<span itemprop="postalCode">02114</span>
                    	</p>
                        <p><a href="https://www.google.com/maps/place/1+Bowdoin+Square,+Boston,+MA+02114/@42.36198,-71.0621295,17z" target="_blank" class="arrow">Map</a></p>
                    </div>
                </div>
                <div class="six columns" id="phone-fax">
                	<h3>Phone<br />&amp; Fax</h3>
                    <div class="contact-info">
                    	<p>
                    		<span><span class="label">P / </span><span itemprop="telephone">617.726.5552</span></span>
                    		<span><span class="label">F / </span><span itemprop="faxNumber">617.726.1977</span></span>
                    	</p>
                    </div>
                </div>
                <div class="six columns" id="email">
                	<h3>Email</h3>
                    <div class="contact-info">
                    	<p><span><a href="mailto:mghvascoreinfo@partners.org" itemprop="email">mghvascoreinfo@partners.org</a></span></p>
                    </div>
                </div>
            </div>
            <div class="footer"><div class="row">
                <div class="twenty columns">
                    <p>&copy; 2016 VasCore. All rights reserved.</p>
                    <a href="#intro" class="scrolltotop">BACK <em>to</em> TOP</a>
                </div>
            </div></div>
        </div>
    </div>

    <script src="js/jquery-1.8.2.js"></script>
    <script src="js/jquery-ui-1.9.1.custom.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38344891-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54887156-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
